.square-container {
  position: relative;
}

.image-wrap-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.large-image {
  object-fit: cover;
  width: 650px;
  height: 650px;
}

.sm-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-image {
  object-fit: cover;
  width: 325px;
  height: 325px;
}

.colored-square {
  position: absolute;
  width: 800px;
  height: 830px;
  top: -40px;
  right: 0;
  background-color: #FBFFA7;
  z-index: -1;
}
