* {
  box-sizing: border-box;
}

html {
  background-color: #F3F3F3;
}

body {
  background-color: #FFFFFF;
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: -10;
}